<h2>Welcome to my tech blog!</h2>
<p>
You can post any ideas, suggestions, insights or random thoughts about programming, coding or general technology.
You can also comment on your post or any other posts. Make sure to log in to be able to participate. Thanks and enjoy!
</p>
{{>posts}}